(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_parameters_in_scopes: None,
    waves: Some((
        source: File("/home/alex/uni/VerilogForUni/w5/dump.vcd"),
        format: Fst,
        active_scope: Some(WaveScope((
            strs: [
                "testbench",
                "my_IC",
                "my_mem",
            ],
        ))),
        displayed_items_order: [
            (1),
            (18),
            (19),
            (16),
            (17),
            (20),
            (21),
            (22),
            (24),
            (25),
            (23),
        ],
        displayed_items: {
            (24): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "my_IC",
                            "my_mem",
                        ],
                    ),
                    name: "writeData0",
                ),
                color: None,
                background_color: None,
                display_name: "testbench.my_IC.my_mem.writeData0 [3:0]",
                display_name_type: Global,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                        ],
                    ),
                    name: "clk",
                ),
                color: None,
                background_color: None,
                display_name: "testbench.clk",
                display_name_type: Global,
                manual_name: None,
                format: Some("Hexadecimal"),
                field_formats: [],
            )),
            (19): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (20): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (18): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                        ],
                    ),
                    name: "my_icode",
                ),
                color: None,
                background_color: None,
                display_name: "testbench.my_icode [3:0]",
                display_name_type: Global,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (17): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "my_IC",
                            "my_mem",
                        ],
                    ),
                    name: "address1",
                ),
                color: None,
                background_color: None,
                display_name: "testbench.my_IC.my_mem.address1 [3:0]",
                display_name_type: Global,
                manual_name: None,
                format: Some("Binary (with groups)"),
                field_formats: [],
            )),
            (23): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (22): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "my_IC",
                            "my_mem",
                        ],
                    ),
                    name: "readData1",
                ),
                color: None,
                background_color: None,
                display_name: "testbench.my_IC.my_mem.readData1 [3:0]",
                display_name_type: Global,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (21): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "my_IC",
                            "my_mem",
                        ],
                    ),
                    name: "readData0",
                ),
                color: None,
                background_color: None,
                display_name: "testbench.my_IC.my_mem.readData0 [3:0]",
                display_name_type: Global,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (25): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "my_IC",
                            "my_mem",
                        ],
                    ),
                    name: "writeData1",
                ),
                color: None,
                background_color: None,
                display_name: "testbench.my_IC.my_mem.writeData1 [3:0]",
                display_name_type: Global,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (16): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "my_IC",
                            "my_mem",
                        ],
                    ),
                    name: "address0",
                ),
                color: None,
                background_color: None,
                display_name: "testbench.my_IC.my_mem.address0 [3:0]",
                display_name_type: Global,
                manual_name: None,
                format: Some("Binary (with groups)"),
                field_formats: [],
            )),
        },
        display_item_ref_counter: 25,
        viewports: [
            (
                curr_left: (-0.023736842105263157),
                curr_right: (0.09494736842105263),
                target_left: (-0.02500000000000001),
                target_right: (0.09368421052631581),
                move_start_left: (-0.02500000000000001),
                move_start_right: (0.09368421052631581),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((0, [])),
        markers: {},
        focused_item: Some((9)),
        focused_transaction: (None, None),
        selected_items: [],
        default_variable_name_type: Global,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: None,
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: Seconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_name_filter_type: Fuzzy,
    variable_name_filter_case_insensitive: true,
    rename_target: None,
    sidepanel_width: Some(300.0),
    ui_zoom_factor: Some(1.25),
)